apps/*/build
apps/*/dist
apps/*/target
apps/*/nbproject/private
apps/*/.Rproj.user
apps/*/.Rbuildignore
apps/*/.Rhistory
apps/*/__pycache__
apps/*/*/__pycache__
apps/*/*/*/__pycache__
apps/*/*/*.egg-info
apps/*/*.egg-info
apps/*/*/dist
apps/*/*.spec
apps/*/cmake-build-debug
apps/MBatch/inst/DscJava/*
apps/MBatch/inst/LegendJava/*
apps/MBatch/inst/ReadRJava/*
apps/MBatchUtils/inst/BEVIndex/*
data/apps_out/*
data/testing_dynamic/*
.Rproj.user
/apps/BEVIndex/target/
/apps/DscJava/target/
/apps/LegendJava/target/
/apps/ReadRJava/target/
