importFrom("grDevices", "col2rgb", "colorRampPalette", "dev.off", "dev.set", "rainbow", "rgb", "pdf")
importFrom("graphics", "abline", "arrows", "axis", "box", "boxplot", "frame", "layout", "lines", "mtext", "par", "plot.new", "points", "rect", "segments", "text", "title", "hist", "image", "plot", "legend")
importFrom("stats", "IQR", "as.dendrogram", "as.dist", "cor", "cor.test", "density", "dist", "dnorm", "hclust", "lm", "mad", "median", "medpolish", "order.dendrogram", "qqline", "qqnorm", "qqplot", "quantile", "reorder", "rgamma", "sd", "var", "fivenum")
importFrom("utils", "URLencode", "dump.frames", "glob2rx", "installed.packages", "packageDescription", "read.csv", "sessionInfo", "write.table")
importFrom("epiR", "epi.ccc")
importFrom("methods", "callNextMethod", "new", "show")
importFrom("utils", "head")
importFrom("Cairo", "CairoPNG")
importFrom("rJava", ".jnew", ".jcall", ".jinit", ".jarray", ".jcastToArray")
importFrom("gtools", "even", "odd")
importFrom("squash", "dendromat")
importFrom("parallel", "makePSOCKcluster", "stopCluster", "parLapply")

importFrom("ClassDiscovery", "distanceMatrix", "SamplePCA")
importFrom("Vennerable", "Venn")

# Utility classes
exportClasses(BEA_DATA)
exportClasses(Logging)

# utility functions
export(compareTwoMatrices)
export(mbatchLoadStructures)
export(mbatchLoadFiles)
export(mbatchFilterData)
export(mbatchTrimData)
export(setLogging)
export(clearDSCOverviewFiles)
export(buildDSCOverviewFile)
export(readAsMatrix)
export(readAsDataFrame)
export(writeAsMatrix)
export(writeAsDataframe)
export(mbatchIncludeExcludeData)
export(readAsGenericMatrix)
export(readAsGenericDataframe)
export(mbatchWriteSuccessfulLog)
export(as.numericWithIssues)

# Assessments
export(SupervisedClustering_Pairs_Structures)
export(SupervisedClustering_Batches_Structures)
export(PCA_Regular_Structures)
export(PCA_DualBatch_Structures)
export(HierarchicalClustering_Structures)
export(Boxplot_Group_Structures)
export(Boxplot_AllSamplesRLE_Structures)
export(Boxplot_AllSamplesData_Structures)
export(CDP_Plot)
export(CDP_Files)
export(CDP_Structures)

# Corrections
export(EBNPlus_Correction_Files)
export(EBNPlus_CombineBatches)
export(EBNPlus_Correction_Structures)
export(EBNPlus_CheckData_Structures)
export(EBNPlus_TrainAndValidateReplicates_Structures)
export(EBNPlus_TrainAndValidateFromVector_Structures)
export(EB_withNonParametricPriors)
export(EB_withParametricPriors)
export(MP_Overall)
export(MP_ByBatch)
export(AN_Adjusted)
export(AN_Unadjusted)
export(RBN_Replicates)
export(RBN_Pseudoreplicates)
export(getReplicatesForRBN)

# used in testing
export(getTestInputDir)
export(getTestOutputDir)
export(getTestCompareDir)

# used in MBatchUtils
export(setGenesToSameAsSamples)
export(removeBatchAndValue)
