importFrom("MBatch", "AN_Adjusted", "AN_Unadjusted", "EB_withNonParametricPriors", "EB_withParametricPriors")
importFrom("MBatch", "Boxplot_AllSamplesData_Structures", "Boxplot_AllSamplesRLE_Structures" ,"Boxplot_Group_Structures")
importFrom("MBatch", "HierarchicalClustering_Structures" ,"buildDSCOverviewFile", "clearDSCOverviewFiles")
importFrom("MBatch", "PCA_DualBatch_Structures", "PCA_Regular_Structures")
importFrom("MBatch", "SupervisedClustering_Batches_Structures", "SupervisedClustering_Pairs_Structures")
importFrom("MBatch", "MP_ByBatch", "MP_Overall", "EBNPlus_CombineBatches")
importFrom("MBatch", "writeAsGenericDataframe", "mbatchLoadFiles", "setLogging", "cleanFilePath")
importFrom("MBatch", "CDP_Files", "CDP_Structures", "EBNPlus_Correction_Files", "EBNPlus_Correction_Structures")
importFrom("MBatch", "EBNPlus_TrainAndValidateFromVector_Structures", "EBNPlus_TrainAndValidateReplicates_Structures")
importFrom("MBatch", "mbatchLoadStructures", "mbatchWriteSuccessfulLog", "readAsGenericMatrix", "mbatchTrimData")
importFrom("MBatch", "RBN_Pseudoreplicates", "RBN_Replicates", "getReplicatesForRBN")
importFrom("MBatch", "as.numericWithIssues", "UMAP_Structures", "addVersionsIfNeeded")
importFrom("MBatch", "checkIfTestError", "setGlobalMBatchErrorTest", "cleanAndShortPath", "writeTitleFile")
importFrom("utils", "read.csv", "write.table")
#importFrom("methods", "new")
importFrom("utils", "read.table")
importFrom("grDevices", "col2rgb", "colors", "dev.off", "graphics.off")
importFrom("graphics", "abline", "barplot", "boxplot", "legend", "par", "pie", "stripchart", "text")
importFrom("methods", "new")
importFrom("stats", "as.dendrogram", "df", "hclust", "kruskal.test", "quantile", "sd", "median")
importFrom("utils", "head", "read.delim", "tail")
importFrom("ClassDiscovery", "distanceMatrix")
importFrom("NGCHM", "chmNewCovariateBar", "chmAddCovariateBar", "chmAddProperty", "chmExportToFile", "chmNew", "chmNewColorMap", "chmNewCovariate", "chmNewDataLayer", "chmExportToHTML")
importFrom("dunn.test", "dunn.test")
importFrom("utils", "zip")
importFrom("MBatch", "readAsGenericDataframe", "writeAsGenericMatrix", "mbatchFilterData", "removeBatchAndValue", "setGenesToSameAsSamples")
importFrom("MBatch", "setGlobalMBatchEnv", "getGlobalMBatchEnv", "setGlobalMBatchErrorTest")
importFrom("Cairo", "CairoPNG")
importFrom("reticulate", "import")
importFrom("readr", "read_file")
importFrom("jsonlite", "read_json")


export(mbatchRunFromConfig)
export(mutBatchSingle)
export(mutationBatchAssess)
export(mutationBatchExtract)
export(htmlMutationBatchEffects)
export(buildBatchHeatMapFromHC_Structures)
export(buildBatchHeatMap_Files)
export(buildBatchHeatMap_Structures)
export(getTestInputDirForMBatch)
export(getTestInputDir)
export(getTestOutputDir)
export(compareTwoMatrices)
export(getJava)
export(buildSingleArchive)
export(preprocessData)
